<!--
This file is part of UrgentRespose.

    UrgentRespose is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UrgentRespose is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="scrollable">  
  <div class="scrollable-content">
    
    <div class="list-group">
      <div class="list-group-item list-group-item-home">
        <h3>Αιτήματα άμεσης επέμβασης <small>1.0</small></h3>
        <div class="media-body">
  Σε περιόδους κρίσης ο Δήμος Αθηναίων θέτει τις υπηρεσίες του σε επιφυλακή. <br />Στην παρούσα  εφαρμογή οι πολίτες μπορούν να υποβάλλουν αιτήματα άμεσης επέμβασης των ειδικών ομάδων του Δήμου..
  <br />
    <hr />        
  <strong>ΠΡΟΣΟΧΗ: Η άσκοπη και χωρίς αντικείμενο κινητοποίηση των ειδικών ομάδων αντιμετώπισης εκτάκτων περιστατικών μπορεί να αποβεί μοιραία για την συνολική αντιμετώπιση. Για τον λόγο αυτό κάνετε χρήση της συγκεκριμένης υπηρεσίας υπεύθυνα, με σύνεση και επίγνωση των συνεπειών.</strong>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
        </div>
      </div>
     </div>
  </div>
</div>
