<!--
This file is part of UrgentRespose.

    UrgentRespose is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UrgentRespose is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->
<div class="scrollable">  
  <div class="scrollable-content">
    <div class="list-group text-center">
      <div class="list-group-item list-group-item-home">
        <h3>Αιτήματα άμεσης επέμβασης <small>1.0</small></h3>
        <hr />
        <div class="media-body">
         Αίτημα για επέμβαση των ειδικών μονάδων του Δήμου Αθηναίων!
          <br /><br />
          <a href="#/report" ng-disabled="online==false||open311.lat==''||open31.long==''" class="btn btn-xlg btn-info btn-block"><i class="fa fa-bullhorn fa-navbar"></i> Αναφορά</a>
          <br /><br />  
          <a href="#/myreports" ng-disabled="online==false" class="btn btn-xlg btn-success btn-block"><i class="fa fa-eye fa-navbar"></i> Οι αναφορές μου</a>
         <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
         <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
         <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

       </div>

     </div>
    </div>
    </div>
</div>

