<!--
This file is part of UrgentRespose.

    UrgentRespose is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    UrgentRespose is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Foobar.  If not, see <http://www.gnu.org/licenses/>.
-->
<div ui-content-for="title">
  <span>Οι Αναφορές μου</span>
</div>
<div class="section section-wide maxdimensions" ng-controller="ReportsController">
<leaflet defaults="defaults" markers="markers" center="center" label="Τοποθεσίες Αναφορών" ng-model ="myReports" class="maxdimensions"></leaflet>
</div>
